// header
header {
    background-color: #0A0A0A;
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    margin: 0;
    position: fixed;
    z-index: 100;

    p {
        margin-bottom: auto;
        margin-top: auto;
        margin-left: 140px;
    }

    p > a > img {
        width: 229px;
        height: 50px;
        margin: auto;
    }

    nav {
        margin-right: 90px;

        ul {
            display: flex;
            // margin: 0;

            li {
                list-style: none;
                margin-right: 54px;

                a {
                    color: #FFFFFF;
                    text-decoration: none;
                    line-height: 80px;
                    font-size: 20px;
                }
            }
        }
    }
}

// width:1920px
// main
// home
main {

    .content {
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
    }

    .home-mainLogo {
        position: relative;
        background-image: url(../images/kv.jpg);
        height: 1000px;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            width: 100%;
            opacity: 1;
            backdrop-filter: blur(2px);
            -webkit-backdrop-filter: blur(2px);
            -webkit-filter: grayscale(100%);
            -moz-filter: grayscale(100%);
            -ms-filter: grayscale(100%);
            -o-filter: grayscale(100%);
            filter: grayscale(100%);
        }

        p {
            position: absolute;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
    }


    .home-intro {
        background-color: #212121;
        color: #E3E3E3;
        height: 1525px;
        width: 100%;
        position: relative;
        z-index: -2;

        .image002 {
            height: 403px;
            width: 505px;
            position: absolute;
            top: 6%;
            left: 50%;
        }

        .image003 {
            height: 456px;
            width: 474px;
            position: absolute;
            top: 15%;
            left: 20%;
        }

        .image001 {
            height: 537px;
            width: 985px;
            position: absolute;
            top: 35%;
            left: 30%;
            z-index: -1;
        }

        p {
            margin-bottom: 0;
        }

        .intro-wrapper {
            position: absolute;
            top: 78%;
            left: 12%;

            h1 {
                font-size: 48px;
                margin-bottom: 35px;
            }

            p {
                font-size: 24px;
            }
        }

        a {
            position: absolute;
            top: 90%;
            left: 78%;
            color: #E3E3E3;
            text-decoration: none;
            font-size: 16px;
        }
    }


    .home-menu {
        position: relative;
        background-image: url(../images/006.jpg);
        height: 1288px;
        // background-attachment: inherit;

        .menu-bg-white {
            height: 100%;
            background-color: rgba(255, 255, 255, 0.5);
        }

        .menu-wrapper {
            background-color: #0A0A0A;
            // width: 1500px;
            height: 888px;
            position: absolute;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            color: #FFFFFF;
            width: 78%;

            .menu-box {
                width: 80%;
                margin: auto;

                h1 {
                    font-size: 32px;
                    text-align: center;
                    border-bottom: solid 1px #FF9812;
                    padding-bottom: 26px;
                    margin-top: 61px;
                    margin-bottom: 41px;
                }

                a {
                    color: #EDEDED;
                    font-size: 16px;
                    text-decoration: none;
                    display: block;
                    text-align: right;
                    margin-top: 70px;
                    margin-bottom: 0;
                }

                .card-group {

                    .card+.card {
                        margin-left: 55px;
                    }

                    .card {
                        background-color: #470000;

                        .card-body {
                            padding: 0;

                            .text01 {
                                font-size: 20px;
                                color: #EDEDED;
                                text-align: center;
                                margin-top: 16px;
                            }

                            .text02 {
                                font-size: 24px;
                                margin-left: 33px;
                                margin-top: 31px;
                            }

                            .text03 {
                                font-size: 18px;
                                margin-left: 33px;
                            }

                            .text04 {
                                font-size: 16px;
                                margin-left: 33px;
                                color: #EDEDED;
                                font-weight: lighter;
                                margin: 23px;
                            }

                            img {
                                height: 281px;
                                width: 100%;
                                background-color: #fff;
                                background-repeat: no-repeat;
                                background-size: cover;
                                background-position: center;
                            }
                        }
                    }
                }
            }
        }
    }


    .home-event {
        display: flex;

        p {
            width: 50%;
            margin-bottom: 0;
        }

        p > img {
            height: 1079px;
            width: 100%;
        }

        .home-sentence {
            background-color: #470023;
            height: 1079px;
            width: 50%;
            color: #fff;
            padding-left: 76px;
            padding-top: 368px;
            box-sizing: border-box;

            h1 {
                font-size: 60px;
                border-bottom: solid 2px #764300;
                padding-bottom: 20px;
                width: 744px;
                box-sizing: border-box;
            }

            h2 {
                font-size: 32px;
                padding-top: 34px;
            }

            p {
                font-size: 18px;
            }

            a {
                font-size: 16px;
                font-weight: lighter;
                color: #fff;
                text-decoration: none;
                display: block;
                text-align: right;
                padding-right: 170px;
            }
        }
    }


    .home-contact {
        background-image: url(../images/kabebami.jpg);
        position: relative;
        height: 930px;
        // background-attachment: inherit;
        text-align: center;

        .contact-sentence {
            background-color: #fff;
            position: absolute;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            height: 550px;
            width: 65%;
            position: relative;



            h2 {
                color: #0A0A0A;
                font-size: 32px;
                font-weight: bolder;
                vertical-align: middle; 
                position: absolute;
                top: 40%; 
                left: 50%;  
                transform: translateY(-50%) translateX(-50%);
                -webkit-transform: translateY(-50%) translateX(-50%);
            }

            p {
                color: #0A0A0A;
                font-size: 18px;
                vertical-align: middle; 
            }

            .sentence01 {
                position: absolute;
                top: 55%; 
                left: 50%;  
                transform: translateY(-50%) translateX(-50%);
                -webkit-transform: translateY(-50%) translateX(-50%);
            }

            .sentence02 {
                position: absolute;
                top: 60%; 
                left: 50%;  
                transform: translateY(-50%) translateX(-50%);
                -webkit-transform: translateY(-50%) translateX(-50%);
            }
        }
    }
}


// footer
footer {
    background-color: #0A0A0A;
    text-align: center;

    img {
        height: 200px;
        width: auto;
        margin-top: 21px;
        margin-bottom: 32px;
    }

    .sns {
        width: 200px;
        margin: auto;
        margin-bottom: 32px;

        .icons {
            display: flex;

            li {
                list-style: none;

                a {
                    font-size: 30px;
                    color: #fff;
                    text-decoration: none;

                    span {
                        display: none;
                    }
                }
            }

            li+li {
                margin-left: 32px;
            }
        } 
    }

    nav {
        width: 530px;
        margin: auto;

        ul {
            display: flex;

            li {
                list-style: none;
                padding-left: 20px;
                padding-right: 20px;

                a {
                    font-size: 16px;
                    color: #959595;
                    text-decoration: none;
                }
            }

            li+li {
                border-left: solid 1px #959595;
            }
        }
    }

    small {
        color: #959595;
        // margin-top: 32px;
    }

    p {
        margin-bottom: 0;
    }
}

// header
// footer
// home
// width:1600px以下
@media only screen and (max-width: 1600px) {

    header {
        height: 80px;
        width: 100%;
        margin: 0;
    
        p {
            margin-bottom: auto;
            margin-top: auto;
            margin-left: 90px;
        }
    
        p > img {
            width: 229px;
            height: 50px;
            margin: auto;
        }
    
        nav {
            margin-right: 70px;
    
            ul {
                display: flex;
                // margin-bottom: 0;
                // margin: 0;
    
                li {
                    list-style: none;
                    margin-right: 30px;
    
                    a {
                        color: #FFFFFF;
                        text-decoration: none;
                        line-height: 80px;
                        font-size: 16px;
                    }
                }
            }
        }
    }

    main {

        .home-mainLogo {
            height: 830px;
        }

        .home-intro {
            height: 920px;

            .image002 {
                height: 270px;
                width: 350px;
                top: 7%;
                left: 50%;
            }

            .image003 {
                height: 330px;
                width: 320px;
                top: 15%;
                left: 22%;
            }

            .image001 {
                height: 320px;
                width: 540px;
                top: 40%;
                left: 40%;
            }

            .intro-wrapper {

                h1 {
                    font-size: 42px;
                    margin-bottom: 15px;
                }

                p {
                    font-size: 21px;
                }
            }

            a {
                top: 90%;
                left: 78%;
            }
        }

        .home-menu {
            height: 900px;
    
            .menu-bg-white {
                height: 100%;
                background-color: rgba(255, 255, 255, 0.5);
            }
    
            .menu-wrapper {
                height: 800px;

                .menu-box {

                    a {
                        margin-top: 35px;
                    }
                    
                    .card-group {

                        .card {

                            .card-body {

                                img {
                                    height: 200px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .home-event {
    
            p > img {
                height: 800px;
                width: 100%;
                object-fit: cover;
            }
    
            .home-sentence {
                height: 800px;
                width: 50%;
                padding-top: 210px;
    
                h1 {
                    width: 380px;
                }
            }
        }

        .home-contact {
            height: 600px;
    
            .contact-sentence {
                height: 350px;
                width: 65%;

                h2 {
                    font-size: 26px;
                    white-space: nowrap;
                }
    
                p {
                    font-size: 16px;
                }
    
                .sentence02 {
                    top: 61%; 
                    left: 50%;  
                }
            }
        }
    }

    footer {
    
        img {
            height: 100px;
            width: auto;
            margin-top: 11px;
            margin-bottom: 22px;
        }
    
        .sns {
            width: 200px;
            margin: auto;
            margin-bottom: 22px;
    
            .icons {
                display: flex;
    
                li {
                    list-style: none;
    
                    a {
                        font-size: 25px;
                        color: #fff;
                        text-decoration: none;
    
                        span {
                            display: none;
                        }
                    }
                }
    
                li+li {
                    margin-left: 32px;
                }
            } 
        }
    
        nav {
            width: 530px;
            margin: auto;
    
            ul {
                display: flex;
    
                li {
                    list-style: none;
                    padding-left: 20px;
                    padding-right: 20px;
    
                    a {
                        font-size: 16px;
                        color: #959595;
                        text-decoration: none;
                    }
                }
    
                li+li {
                    border-left: solid 1px #959595;
                }
            }
        }
    
        small {
            color: #959595;
            // margin-top: 32px;
        }
    
        p {
            margin-bottom: 0;
        }
    }
}


// home
// width:1200px以下
@media only screen and (max-width: 1200px) {
    main {

        .home-mainLogo {
            height: 700px;
        }

        .home-intro {
            height: 700px;

            .image002 {
                height: 200px;
                width: 300px;
                top: 6%;
                left: 50%;
            }

            .image003 {
                height: 250px;
                width: 270px;
                top: 15%;
                left: 20%;
            }

            .image001 {
                height: 250px;
                width: 430px;
                top: 37%;
                left: 40%;
            }

            .intro-wrapper {
                top: 78%;
                left: 12%;
    
                h1 {
                    font-size: 28px;
                    margin-bottom: 20px;
                }
    
                p {
                    font-size: 18px;
                }
            }

            a {
                top: 90%;
                left: 78%;
            }
        }

        .home-menu {
            height: 700px;
    
            .menu-bg-white {
                height: 100%;
                background-color: rgba(255, 255, 255, 0.5);
            }
    
            .menu-wrapper {
                height: 650px;

                .menu-box {
                    width: 90%;

                    .card-group {

                        .card {
                            height: 460px;

                            .card-body {

                                img {
                                    height: 150px;
                                }

                                .text02 {
                                    font-size: 20px;
                                    // white-space: nowrap;
                                }

                                .text04 {
                                    margin-top: 0px;
                                    margin-left: 33px;
                                    margin-right: 4px;
                                    margin-bottom: 5px;
                                }
                            }
                        }
                    }

                    a {
                        display: none;
                    }
                }
            }
        }

        .home-event {
            height: 550px;
    
            p > img {
                height: 600px;
                width: 100%;
                object-fit: cover;
            }
    
            .home-sentence {
                height: 600px;
                width: 50%;
                padding-top: 75px;
    
                h1 {
                    font-size: 45px;
                    width: 380px;
                }
            }
        }

        .home-contact {
            height: 500px;
    
            .contact-sentence {
                height: 350px;
                width: 65%;

                h2 {
                    font-size: 26px;
                    white-space: nowrap;
                }
    
                p {
                    font-size: 16px;
                }
    
                .sentence02 {
                    top: 61%; 
                    left: 50%;  
                }
            }
        }
    }
}

// home
// width:991px
// パソコン用
@media only screen and (max-width: 991px) {
    main {

        .home-mainLogo {
            height: 700px;
        }

        .home-intro {
            height: 800px;

            .image002 {
                height: 200px;
                width: 300px;
                top: 6%;
                left: 50%;
            }

            .image003 {
                height: 250px;
                width: 270px;
                top: 15%;
                left: 20%;
            }

            .image001 {
                height: 300px;
                width: 430px;
                top: 35%;
                left: 40%;
            }

            a {
                top: 92%;
                left: 78%;
            }
        }

        .home-menu {
            height: 800px;
    
            .menu-wrapper {
                height: 700px;
                width: 90%;

                .menu-box {
                    width: 90%;

                    h1 {
                        margin-top: 35px;
                    }

                    a {
                        font-size: 16px;
                        margin-top: 12px;
                    }

                    .card-group {

                        .card {
                            height: 500px;

                            .card-body {

                                .card-text {
                                    margin-left: 20px;
                                }

                                img {
                                    height: 200px;
                                }

                                .text02 {
                                    font-size: 22px;
                                    margin-left: 20px;
                                }

                                .text03 {
                                    font-size: 16px;
                                    margin-bottom: 3px;
                                }

                                .text04 {
                                    margin-top: 0px;
                                    margin-left: 20px;
                                    margin-right: 4px;
                                    margin-bottom: 5px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .home-event {
    
            p > img {
                height: 600px;
            }
    
            .home-sentence {
                height: 600px;
                padding-top: 80px;
    
                h1 {
                    width: 350px;
                    font-size: 50px;
                    padding-bottom: 10px;
                }

                h2 {
                    padding-top: 23px;
                    font-size: 28px;
                }

                p {
                    font-size: 16px;
                }

                a {
                    padding-right: 50px;
                }
            }
        }

        .home-contact {
            height: 550px;
    
            .contact-sentence {
                height: 350px;
                width: 75%;

                h2 {
                    font-size: 24px;
                    white-space: nowrap;
                }
    
                p {
                    font-size: 16px;
                }
            }
        }
    }
}



// about
// main
main {

    .topPage {
        position: relative;
        background-image: url(../images/kv.jpg);
        height: 1000px;
        width: auto;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            width: 100%;
            opacity: 1;
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);
        }

        h1 {
            color: #fff;
            font-size: 100px;
            border-bottom: solid 5px #fff;
            width: 1154px;
            position: absolute;
            top: 87%;
            left: 56%;
            -ms-transform: translate(-82%, -56%);
            -webkit-transform: translate(-82%, -56%);
            transform: translate(-82%, -56%);
            padding-left: 40px;
            font: italic normal bold 100px/130px PT Sans;
            font-weight: bold;
        }
    }

    .information {
        background-color: #212121;
        height: 1190px;
        width: auto;
        color: #fff;
        position: relative;

        h2 {
            position: absolute;
            top: 15%;
            left: 30%;
            transform: translateY(-50%) translateX(-50%);
            -webkit-transform: translateY(-50%) translateX(-50%);
            z-index: 2;
        }

        .info-flex {
            display: flex;
            justify-content: space-evenly;
            position: absolute;
            top: 55%;
            left: 50%;
            transform: translateY(-50%) translateX(-50%);
            -webkit-transform: translateY(-50%) translateX(-50%);

            p > img {
                height: 567px;
                margin-right: 290px;
            }

            .info-sentence {
                height: 567px;

                h3 {
                    font-size: 48px;
                    font-weight: bolder;
                    margin-bottom: 32px;
                }

                p {
                    font-size: 24px;
                    margin-bottom: 40px;
                    white-space: nowrap;
                }
            }
        }
    }

    .heading {
        font-size: 60px;
        font-weight: bolder;
        border-bottom: solid 3px #fff;
        width: 791px;
        padding-left: 35px;
        padding-bottom: 15px;
        color: #fff;
    }

    .carousel-wrapper {

        .carousel {
            position: relative;
            // height: 1080px;

            h2 {
                position: absolute;
                top: 12%;
                left: 14%;
                transform: translateY(-12%) translateX(-14%);
                -webkit-transform: translateY(-12%) translateX(-14%);
                z-index: 2;
            }

            .crausel-inner {
                width: 100%;
                max-height: 1000px !important;

                .carousel-item {

                    img {
                        width: 100%;
                        // height: auto;
                    }
                }
            }
        }
    }

    .access {
        height: 1190px;
        width: 100%;
        background-image: url(../images/kabebami.jpg);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;

        h2 {
            position: absolute;
            top: 15%;
            left: 30%;
            transform: translateY(-50%) translateX(-50%);
            -webkit-transform: translateY(-50%) translateX(-50%);
        }

        p {
            position: absolute;
            top: 25%;
            left: 29%;
            transform: translateY(-50%) translateX(-50%);
            -webkit-transform: translateY(-50%) translateX(-50%);
            color: #fff;
            font-size: 24px;
        }

        img {
            position: absolute;
            top: 32%;
            left: 10%;
            height: auto;
        }
    }
}


// about
// width:1600px以下

@media only screen and (max-width: 1600px) {

    main {

        .topPage {
            height: 750px;
            width: auto;
    
            h1 {
                color: #fff;
                font-size: 90px !important;
                border-bottom: solid 3px #fff;
                width: 600px;
                position: absolute;
                top: 82%;
                left: 38%;
                -ms-transform: translate(-82%, -38%);
                -webkit-transform: translate(-82%, -38%);
                transform: translate(-82%, -38%);
                padding-left: 40px;
                font: italic normal bold 100px/130px PT Sans;
                font-weight: bold;
            }
        }
    
        .information {
            height: 700px;
            width: auto;
    
            h2 {
                top: 12%;
                left: 18%;
                transform: translateY(-15%) translateX(-20%);
                -webkit-transform: translateY(-15%) translateX(-20%);
            }
    
            .info-flex {
                top: 75%;
                left: 50%;
                transform: translateY(-50%) translateX(-50%);
                -webkit-transform: translateY(-50%) translateX(-50%);
    
                p > img {
                    height: 300px;
                    margin-right: 150px;
                }
    
                .info-sentence {
                    height: 650px;
    
                    h3 {
                        font-size: 36px;
                    }
    
                    p {
                        font-size: 20px;
                    }
                }
            }
        }
    
        .heading {
            font-size: 40px;
            font-weight: bolder;
            border-bottom: solid 2px #fff;
            width: 450px;
            padding-left: 35px;
            padding-bottom: 15px;
            color: #fff;
        }
    
        .carousel-wrapper {
    
            .carousel {
                position: relative;
                // height: 1080px;
    
                h2 {
                    position: absolute;
                    top: 12%;
                    left: 14%;
                    transform: translateY(-12%) translateX(-14%);
                    -webkit-transform: translateY(-12%) translateX(-14%);
                    z-index: 2;
                }
    
                .crausel-inner {
                    width: 100%;
                    max-height: 1000px !important;
    
                    .carousel-item {
    
                        img {
                            width: 100%;
                            // height: auto;
                        }
                    }
                }
            }
        }
    
        .access {
            height: 700px;
    
            h2 {
                position: absolute;
                top: 15%;
                left: 28%;
                transform: translateY(-50%) translateX(-50%);
                -webkit-transform: translateY(-50%) translateX(-50%);
            }
    
            p {
                position: absolute;
                top: 28%;
                left: 35%;
                transform: translateY(-50%) translateX(-50%);
                -webkit-transform: translateY(-50%) translateX(-50%);
                color: #fff;
                font-size: 24px;
            }
    
            img {
                position: absolute;
                top: 36%;
                left: 12%;
                width: 1000px;
                height: auto;
            }
        }
    }
}


// topPage
// width:1300px以下
@media only screen and (max-width: 1300px) {

    main {

        .topPage {
    
            h1 {
                font-size: 80px !important;
                top: 82%;
                left: 50%;
            }
        }
    }
}


// about
// width:1200px以下
@media only screen and (max-width: 1200px) {
    main {

        .access {
            height: 650px;
    
            h2 {
                position: absolute;
                top: 15%;
                left: 28%;
                transform: translateY(-50%) translateX(-50%);
                -webkit-transform: translateY(-50%) translateX(-50%);
            }
    
            p {
                position: absolute;
                top: 28%;
                left: 35%;
                transform: translateY(-50%) translateX(-50%);
                -webkit-transform: translateY(-50%) translateX(-50%);
                color: #fff;
                font-size: 20px;
            }
    
            img {
                position: absolute;
                top: 36%;
                left: 10%;
                width: 900px;
                height: auto;
            }
        }
    }
}



// event
// main
main {
    
    .topPage {
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        // height: 1000px;
    }

    .events {
        height: 2171px;
        color: #fff;
        background-color: #212121;
        position: relative;

        h2 {
            font-size: 60px;
            margin-bottom: 80px;
            padding-top: 142px;
            margin-left: 167px;
        }

        .events-flex {
            display: flex;
            justify-content: center;
            margin-bottom: 106px;
            margin-right: 210px;

            p {

                a{

                    img {
                        height: 701px;
                        width: 712px;
                        object-fit: cover;
                    }
                }
            }

            .events-sentence {
                margin-left: 90px;
                margin-top: auto;
                margin-bottom: auto;

                h3 {
                    font-size: 40px;
                    margin-bottom: 23px;
                }

                p {
                    font-size: 18px;
                    line-height: 28px;
                    margin-bottom: 33px;
                }

                a {
                    font-size: 16px;
                    color: #fff;
                    text-decoration: none;
                    font-weight: lighter;
                }
            }
        }
    }

    .monthly {
        background-color: #470023;

        .events-flex {
            margin-right: 0;
            margin-left: 150px;
            margin-bottom: 170px;
        }
    }
}

.new {
    font-size: 32px !important;
    font-weight: bolder;
    background-color: #FF9812;
    padding: 10px 30px;
    width: 74px;
}

.viewButton {
    text-align: center;

    a {
        color: #fff;
        text-decoration: none;
        font-size: 24px;
        border: solid 2px #CDD6DD;
        padding: 22px 60px;
    }

    // p {
    //     color: #9B9B9B;
    //     font-size: 30px;
    // }
}

.time {
    color: #9B9B9B;
    font-size: 16px;
}

#topPage-img-about {
    background-image: url(../images/kv.jpg);
}

#topPage-img-event {
    background-image: url(../images/007.jpg);
}

#topPage-img-menu {
    background-image: url(../images/001.jpg);
}

#topPage-img-news {
    background-image: url(../images/008.jpg);
}



// event
// widht:1600px以下

@media only screen and (max-width: 1600px) {

    main {
    
        .topPage {
            height: 750px;
        }
    
        .events {
            height: 1680px;

            .heading {
                width: 560px;
            }
    
            h2 {
                font-size: 50px;
                margin-bottom: 80px;
                padding-top: 142px;
                margin-left: 167px;
            }
    
            .events-flex {
                display: flex;
                justify-content: center;
                margin-bottom: 106px;
                margin-right: 80px;
    
                p {
    
                    a{
    
                        img {
                            height: 501px;
                            width: 512px;
                            object-fit: cover;
                        }
                    }
                }
    
                .events-sentence {
                    margin-left: 90px;
                    margin-top: auto;
                    margin-bottom: auto;
    
                    h3 {
                        font-size: 30px;
                        margin-bottom: 23px;
                    }
    
                    p {
                        font-size: 16px;
                        line-height: 28px;
                        margin-bottom: 33px;
                        // width: 80%;
                    }
    
                    a {
                        font-size: 16px;
                        color: #fff;
                        text-decoration: none;
                        font-weight: lighter;
                    }
                }
            }
        }
    
        .monthly {
            background-color: #470023;
    
            .events-flex {
                margin-right: 0;
                margin-left: 150px;
                margin-bottom: 130px;

                .events-sentence {

                    p {
                        width: 80%;
                    }
                }
            }
        }
    }
    
    .new {
        font-size: 32px !important;
        font-weight: bolder;
        background-color: #FF9812;
        padding: 10px 30px;
        width: 74px;
    }
    
    .viewButton {
    
        a {
            font-size: 18px;
            padding: 20px 50px;
        }
    }
}


// event
// width:1200px以下
@media only screen and (max-width: 1200px) {
    main {
 
        .events {
            height: 1380px;

            .heading {
                width: 560px;
            }
    
            h2 {
                font-size: 50px;
                margin-bottom: 80px;
                padding-top: 100px;
                margin-left: 87px;
            }
    
            .events-flex {
                margin-bottom: 106px;
                margin-right: 80px;
    
                p {
    
                    a{
    
                        img {
                            height: 401px;
                            width: 412px;
                        }
                    }
                }
    
                .events-sentence {
                    margin-left: 90px;
    
                    h3 {
                        font-size: 30px;
                        margin-bottom: 23px;
                    }
    
                    p {
                        font-size: 16px;
                        line-height: 23px;
                        margin-bottom: 22px;
                    }
    
                    a {
                        font-size: 16px;
                        color: #fff;
                        text-decoration: none;
                        font-weight: lighter;
                    }
                }
            }
        }
    
        .special {

            .events-flex {
                margin-left: 150px;
            }
        }

        .monthly {
            background-color: #470023;
    
            .events-flex {
                margin-right: 0;
                margin-left: 150px;
                margin-bottom: 100px;

                .events-sentence {

                    p {
                        width: 80%;
                    }
                }
            }
        }
    }
    
    .new {
        font-size: 32px !important;
        font-weight: bolder;
        background-color: #FF9812;
        padding: 10px 30px;
        width: 74px;
    }
    
    .viewButton {
    
        a {
            font-size: 18px;
            padding: 20px 50px;
        }
    }
}


// menu
// main

main {

    .menuHtml-wrapper {

        background-color: #212121;
        height: 4850px;
        text-align: center;

        .menu-item {
            margin-bottom: 110px;
            margin-left: 170px;

            h2 {
                margin-bottom: 90px;
                text-align: start;
            }

            &:nth-child(1) {
                padding-top: 130px;
            }

            .row {
                margin-left: 50px;

                .col {

                    .card {
                        width: 377px;
                        height: 629px;
                        object-fit: cover;

                        img {
                            height: 408px;
                        }

                        .card-body {
                            height: 221px;

                            h3 {
                                font-size: 24px;
                                font-weight: bolder;
                                margin-top: 35px;
                                margin-bottom: 16px;
                            }

                            p {
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
        }

        .whisky {

            .menu-p-color {
                color: #fff;
                text-align: start;
                margin-top: 90px;
                font-size: 24px;
                margin-left: 50px;
            }
        }

        .cocktail,.softDrink {
            color: #fff;
            font-size: 24px;
            text-align: start;

            p,ul > li {
                margin-left: 50px;
            }
        }
    }
}


// menu
// width:1600px以下

@media only screen and (max-width: 1600px) {

    main {

        .menuHtml-wrapper {
            height: 3500px;
    
            .menu-item {
                margin-bottom: 60px;
                margin-left: 70px;
    
                h2 {
                    margin-bottom: 60px;
                }
    
                &:nth-child(1) {
                    padding-top: 130px;
                }
    
                .row {
                    margin-left: 50px;
    
                    .col {
    
                        .card {
                            width: 257px;
                            height: 469px;
    
                            img {
                                height: 260px;
                            }
    
                            .card-body {
                                height: 151px;
    
                                h3 {
                                    font-size: 17px;
                                    font-weight: bolder;
                                    margin-top: 10px;
                                    margin-bottom: 12px;
                                }
    
                                p {
                                    font-size: 16px;
                                    font-size: small;
                                }
                            }
                        }
                    }
                }
            }
    
            .whisky {
    
                .menu-p-color {
                    margin-top: 90px;
                    font-size: 24px;
                    margin-left: 50px;
                }
            }
        }
    }
}


// news
// main

main {

    .news-wrapper {
        background-image: url(../images/kabebami.jpg);
        height: 2800px;
        width: 100%;

        .news-flex {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #FEFEFE;
            height: 748px;
            width: 87%;
            margin: auto;
            margin-bottom: 88px;
            color: #000000;

            // &:nth-child(1) {
            //     padding-top: 149px;
            // }

            p > img {
                width: 500px;
                height: 500px;
                object-fit: cover;
            }

            .news-flexItem01 {
                flex-basis: 15%;
            }

            .news-flexItem02 {
                flex-basis: 50%;
            }

            .news-sentence {
                margin-left: 117px;
                // width: 60%;

                .new {
                    color: #fff;
                    width: 135px;
                }

                h2 {
                    font-weight: bolder;
                    font-size: 32px;
                    margin-bottom: 40px;
                }

                p {
                    font-size: 18px;
                    line-height: 30px;
                }

                a {
                    font-size: 16px;
                    color: #0A0A0A;
                    text-decoration: none;
                    display: block;
                    text-align: right;
                }

                .view-marginTop {
                    margin-top: 300px;
                }
            }
        }

        .news-top-margin {
            padding-top: 149px;
        }
    }
}

// news
// width:1600px以下

@media only screen and (max-width: 1600px) {
    
    main {

        .news-wrapper {
            height: 2200px;
    
            .news-flex {
                height: 548px;
                margin-bottom: 88px;
    
                // &:nth-child(1) {
                //     padding-top: 149px;
                // }
    
                p > img {
                    width: 380px;
                    height: 380px;
                }
    
                .news-sentence {
                    margin-left: 117px;
    
                    h2 {
                        font-size: 22px;
                        margin-bottom: 20px;
                    }
    
                    p {
                        font-size: 16px;
                        line-height: 22px;
                    }
    
                    a {
                        font-size: 16px;
                    }
    
                    .view-marginTop {
                        margin-top: 100px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1600px) {
    main {

        .news-wrapper {
    
            .news-flex {
    
                p > img {
                    width: 320px;
                    height: 320px;
                }
    
                .news-sentence {
                    margin-left: 57px;
    
                    p {
                        line-height: 18px;
                    }

                    a {
                        font-size: small;
                    }
                }
            }
        }
    }
}

 
